@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Ubuntu, sans-serif;

  --color-primary-100: #e3ebfc;
  --color-primary-200: #cdd9f8;
  --color-primary-300: #afbff2;
  --color-primary-400: #8e9eeb;
  --color-primary-500: #737de1;
  --color-primary-700: #4949ba;
  --color-primary-800: #3d3f96;
  --color-secondary: #fd69d0;
  --color-default: #585ad3;
  --color-grey-100: #F7FBFF;
  --color-grey-200: #E3E3DB;
}

@utility prose {
  --tw-prose-quote-borders: transparent;

  blockquote {
    border-left: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-style: normal;
  }

  blockquote p {
    margin: 0.5rem;
  }

  blockquote p:first-of-type::before,
  blockquote p:first-of-type::after {
    content: none;
  }
}

#documentation-rule-root {
  @apply min-h-[90vh];

  nav {
    @apply pt-4;
  }

  article {
    @apply p-4;

    header {
      @apply border-primary-200 mb-4 flex w-fit border-b text-xl;
    }
  }

  a {
    @apply text-primary-500;
  }

  p {
    @apply mb-4;
  }

  h2 {
    @apply mb-4 text-lg font-bold;
  }

  h3 {
    @apply mb-2 text-base font-bold;
  }
}

.markdown {
  @apply prose max-w-none;
  @apply prose-blockquote:bg-primary-200;
  @apply prose-table:max-w-[80%];
}

.publicodes_btn-small {
  @apply border-secondary text-secondary mx-2 rounded border px-2 py-1 text-sm leading-none;
}

.node-value-pointer {
  @apply text-lg font-semibold;
}
